body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #fef6f9, #ffe4ec);
  font-family: 'Pacifico', cursive;
  overflow: hidden;
}

canvas {
  display: block;
  margin: auto;
  border: 2px solid #bf0a67;
  background-color: #fff9fc;
  box-shadow: 0 0 15px #ffb6c1;
}
